<div class="modal fade show" tabindex="-1" role="dialog" ng-if="$ctrl.showModal" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{$ctrl.title}}</h5>
          <button type="button" class="close" ng-click="$ctrl.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-transclude></ng-transclude>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteUser()">DELETE</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal-backdrop fade show" ng-if="$ctrl.showModal"></div>
  